/*Estilos do arquivo Header.js deste mesmo diretório*/

#header{
  grid-area: header;
  background: url("../image/component.png") no-repeat;
  background-size: cover;
  background-position: 100% 100%; /*posição responsiva de largura x altura*/
  background-repeat: no-repeat;
}

.header2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.super-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  height: 109px;
}

.super-bar-title{
  font: normal normal bold 23px/36px Montserrat;
  letter-spacing: 0.68px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  padding: 10px;
}

.card-header{ 
  background-image: linear-gradient(to bottom, #9C020480, #4D101045);
  box-shadow: 0px 3px 6px #00000099;
  opacity: 1;
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 586px; 
  position: relative;
  }


.text-card-top{  
  font: normal bold 15px/18px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  align-self: flex-start;
  padding: 1.5rem;
}

.text-card-bottom{
  font: normal normal normal 20px/21px Open Sans;
  letter-spacing: 0px;
  color: #F0F0F2;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding: 2rem;
  text-align: center;
}

.card-mulher{  
  max-width: 526px;
  max-height: 754px;
  width: auto;
  height: auto;
}

.grupo1-penas{
  display: flex;
  flex-direction: column;
  position: absolute;
}

.grupo1-penas{ 
  right: 490px;
  top: 370px;
}

.pena3{
  left: 450px;
  top: 260px;
  position: absolute;
}

.pena4{
  left: 470px;
  top: 480px;
  position: absolute;
}

@media(max-width: 730px){ 
  .super-bar-title{
    font: normal normal bold 16px/26px Montserrat;
    padding: 0px;
  }

  .card-header{
    width: 300px
    }

  .card-mulher{  
    max-width: 256px;
    max-height: 454px;
    width: auto;
    height: auto;
  }

  .text-card-top{ 
    font-size: 10px; 
  }

  .text-card-bottom{
    font-size: 12px;
  }
 
  .pena1, .pena2{
    left: 260px;
    bottom: 160px;
    max-width: 89px;
    max-height: 138px;
    width: auto;
    height: auto;
    position: relative;
  }

  .pena3, .pena4{
    max-width: 109px;
    max-height: 138px;
    width: auto;
    height: auto;    
  }

  .pena3{
    left: 220px;
    top: 160px;
  }

  .pena4{
    left: 220px;
    top: 250px;

  }
  
}