/*Estilos do arquivo Carousel.js deste mesmo diretório*/

.main{
  grid-area: main;
  display: grid;
  grid-template-areas: 
  "section1"
  "section2";
  grid-template-columns: 1fr; 
  grid-template-rows: 900px 500px;
  height: 100%;
}

.section1{
  grid-area: section1;
  background-color: #363636; 
  display: flex;
  justify-content: center;
  align-items: center;

}

.button-white{
  border-radius: 70px;
  position: absolute;
  top: 1030px;
  max-width: 56px;
  max-height: 56px;
  width: auto;
  height: auto;
}

.button-arrow{
  position: absolute;
  padding: 8px;
  top: 1090px;
  align-self: center;
  box-shadow: 2px -2px 0 -1px rgb(255, 255, 255) inset;
  transform: rotate(-45deg);
  margin: center;
}

.left-arrow{
  position: absolute;
  padding: 20px;
  box-shadow: 2px -2px 0 1px rgb(255, 255, 255) inset;
  border: solid transparent;
  border-width: 0 0 2px 2px;
  transform: rotate(45deg);
  margin-right: 1170px;
}

.right-arrow{
  position: absolute;
  padding: 20px;
  box-shadow: 2px -2px 0 1px rgb(255, 255, 255) inset;
  border: solid transparent;
  border-width: 0 0 2px 2px;
  transform: rotate(225deg);
  margin-left: 1170px;
}

.grant, .red, .sybil{
  max-width: 230px;
  max-height: 600px;
  width: auto;
  height: auto;
  align-self: center;
  background-color: #363636;
  background-size: 500px 500px;
  border-radius: 80px;
  border: solid 2px white;
  margin-top: -140px;
}

.grant-container, .red-container, .sybil-container{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 330px;
  width: 235px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px #FFFFFF63;
  border-radius: 31px;
  opacity: 1;
  margin: 30px;
  padding: 15px;
  font: normal 14px/16px Open Sans;
  letter-spacing: 0px;
  color: #363636;
  opacity: 1;
}

@media (max-width: 1260px){
  .grant-container, .red-container, .sybil-container{
    width: 180px;
    height: 350px;
    font-size: 14px;
  }

  .grant, .red, .sybil{
    max-width: 180px;
    max-height: 600px;
    width: auto;
    height: auto;
    border-radius: 60px;
    margin-top: -80px;
  }
  
  .left-arrow{
    margin-right: 870px;
  }

  .right-arrow{
   
    margin-left: 870px;
  }
  
}

@media (max-width: 1000px){
  .grant-container{
    height: 0px;
    width: 0px; 
    font-size: opx; 
    box-shadow: none;
    margin: 1%;
    padding: 0px;
  }

  .grant{
    max-width: 0px;
    max-height: 0px;
    width: auto;
    height: auto;
    background-color:none;
    margin: 100px
  }

  .left-arrow{
    margin-right: 570px;
  }

  .right-arrow{   
    margin-left: 570px;
  }  
}

@media(max-width: 730px){ 
  .button-white{ 
    top: 650px;  
  }

  .button-arrow{
    top: 650px;
  }

  .red-container{
    height: 0px;
    width: 0px; 
    font-size: opx; 
    box-shadow: none;
    margin: 0px;
    padding: 0px;

  }

  .red{
    max-width: 0px;
    max-height: 0px;
    width: auto;
    height: auto;
    background-color:none;
    margin: 100px

  }

  .left-arrow{
    margin-right: 300px;
  }

  .right-arrow{
   
    margin-left: 300px;
  }  
 
  

}





