body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;  
}

.header{
  grid-area: header;
  background: url("./image/component.png") no-repeat;
  background-size: cover;
  background-position: 100% 100%; /*posição responsiva de largura x altura*/
  background-repeat: no-repeat;
}


.footer{
  grid-area: footer;
  background: #363636 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 410px;
}

.header2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header{ 
  background-image: linear-gradient(to bottom, #9C020480, #4D101045);
  box-shadow: 0px 3px 6px #00000099;
  opacity: 1;
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 586px; 
  position: relative;
  }


.text-card-top{  
  font: normal bold 15px/18px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  align-self: flex-start;
  padding: 1.5rem;
}

.text-card-bottom{
  font: normal normal normal 20px/21px Open Sans;
  letter-spacing: 0px;
  color: #F0F0F2;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding: 2rem;
  text-align: center;
  text-align: end;
}

.card-mulher{  
  max-width: 526px;
  max-height: 754px;
  width: auto;
  height: auto;
}

.grupo1-penas, .grupo2-penas{
  display: flex;
  flex-direction: column;
  position: absolute;
}

.grupo1-penas{ 
  right: 490px;
  top: 370px;
}

.grupo2-penas{
  left: 420px;
  top: 290px;
}

.main{
  grid-area: main;
  display: grid;
  grid-template-areas: 
  "section1"
  "section2";
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.section1{
  grid-area: section1;
  background-color: #363636;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-white{
  border-radius: 70px;
  position: absolute;
  top: 1030px;
  max-width: 56px;
  max-height: 56px;
  width: auto;
  height: auto;
}

.button-arrow{
  position: absolute;
  padding: 8px;
  top: 1090px;
  align-self: center;
  box-shadow: 2px -2px 0 -1px rgb(255, 255, 255) inset;
  transform: rotate(-45deg);
  margin: center;
}

.left-arrow{
  position: absolute;
  padding: 20px;
  box-shadow: 2px -2px 0 1px rgb(255, 255, 255) inset;
  border: solid transparent;
  border-width: 0 0 2px 2px;
  transform: rotate(45deg);
  margin-right: 1170px;
}

.right-arrow{
  position: absolute;
  padding: 20px;
  box-shadow: 2px -2px 0 1px rgb(255, 255, 255) inset;
  border: solid transparent;
  border-width: 0 0 2px 2px;
  transform: rotate(225deg);
  margin-left: 1170px;
}

.grant, .red, .sybil{
  max-width: 230px;
  max-height: 600px;
  width: auto;
  height: auto;
  align-self: center;
  background-color: #363636;
  background-size: 500px 500px;
  border-radius: 80px;
  border: solid 2px white;
  margin-top: -140px;
}

.grant-containter, .red-container, .sybil-container{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 330px;
  width: auto;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #FFFFFF63;
  border-radius: 31px;
  opacity: 1;
  margin: 30px;
  padding: 15px;
  font: normal 14px/16px Open Sans;
  letter-spacing: 0px;
  color: #363636;
  opacity: 1;
}


.section2{
  grid-area: section2; 
  height: 742px;
}


.super-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  height: 109px;
}

.super-bar-title{
  font: normal normal bold 23px/36px Montserrat;
  letter-spacing: 0.68px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  padding: 30px;
}


@media(max-width: 650px){ 
  .super-bar-title{
    font: normal normal bold 16px/26px Montserrat;
    padding: 0px;
  }

  .card-header{
    width: 300px
    }

  .card-mulher{  
    max-width: 256px;
    max-height: 454px;
    width: auto;
    height: auto;
  }

  .text-card-top{ 
    font-size: 10px; 
  }

  .text-card-bottom{
    font-size: 12px;
  }
 
  .pena1, .pena2{
    left: 260px;
    bottom: 160px;
    max-width: 89px;
    max-height: 138px;
    width: auto;
    height: auto;
    position: relative;
  }

  .pena3, .pena4{
    right: 210px;
    bottom: 120px;
    max-width: 109px;
    max-height: 138px;
    width: auto;
    height: auto;
    position: relative;
  }
  
}

